.project__content__project__front {
    width: 20rem;
    background-color: var(--bg-color-2);
    height: 20rem;
    margin: 1rem;
}

.project__content__project__back {
    width: 20rem;
    background-color: var(--bg-color-1);
    height: 20rem;
    margin: 1rem;
}
